{% extends 'base.html.twig' %}

{% block title %} {{ user.name }} Links{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="relative mx-auto flex w-full items-center justify-center font-sans flex-grow"
         style="background: {{ user.backgroundColor|default('#fff') }}">
        <div class="relative sm:max-w-sm w-full px-6 md:px-0">
            {% for link in user.links %}
                <div class="link">

                    {% set color = link.textColor|default(user.textColor)|default('#000000') %}
                    {% if 'gradient' in color %}
                        <a href="{{ link.link }}" class="text-center p-4 mb-4 block js-user-link"
                           data-link-id="{{ link.id }}"
                           target="_blank"
                           rel="nofollow"
                           style="background: {{ color }};
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;
                                   font-size:{{ user.textSize|default(1) }}rem;
                                   border: {{ user.borderSize|default(2) }}px solid {{ user.textColor|default('#000') }};
                                   border-radius: {{ user.borderRadius|default(0.25) }}px">
                            {{ link.name }}
                        </a>
                    {% else %}
                        <a href="{{ link.link }}" class="text-center p-4 mb-4 block js-user-link"
                           data-link-id="{{ link.id }}"
                           target="_blank"
                           rel="nofollow"
                           style="color: {{ color }};
                                   font-size:{{ user.textSize|default(1) }}rem;
                                   border: {{ user.borderSize|default(2) }}px solid {{ user.textColor|default('#000') }};
                                   border-radius: {{ user.borderRadius|default(0.25) }}px">
                            {{ link.name }}
                        </a>
                    {% endif %}


                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('links') }}
{% endblock %}