{% extends 'base.html.twig' %}

{% block title %} {{ user.name }} Links{% endblock %}

{% block body %}

    <div style="background-color: {{ user.backgroundColor|default('#fff') }}">

        {% for link in user.links %}
            <div class="link">
                <a href="{{ link.link }}" class="text-center rounded p-4 mb-4 text-base block" target="_blank"
                   rel="nofollow"
                   style="border: 2px solid {{ user.textColor|default('#000') }};color: {{ user.textColor|default('#000') }}">
                    {{ link.name }}
                </a>
            </div>
        {% endfor %}

    </div>
{% endblock %}