{% extends 'base.html.twig' %}

{% block title %} {{ user.name }} Links{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="relative mx-auto flex w-full items-center justify-center font-sans flex-grow user-content-wrapper"
         style="background: {{ user.backgroundColor|default('#fff') }}">
        <div class="relative sm:max-w-sm w-full px-6 md:px-0">
            {% for link in user.links %}
                <div class="link">

                    {% set color = link.textColor|default(user.textColor)|default('#000000') %}
                    {% if 'gradient' in color %}

                        <style>
                            .custom-btn-{{ loop.index }}::before {
                                content: "";
                                position: absolute;
                                inset: 0;
                                border-radius: {{ user.borderRadius|default(0.25) }}px;
                                padding: {{ user.borderSize|default(2) }}px;
                                background: {{ color }};
                                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                                -webkit-mask-composite: xor;
                                mask-composite: exclude;
                            }

                            .custom-btn-wrapper-{{ loop.index }}::before {
                                content: "";
                                position: absolute;
                                inset: {{ user.borderSize|default(2) }}px;
                                background-color: {{ link.backgroundColor }};
                                border-radius: {{ user.borderRadius|default(0.25) }}px;
                            }
                        </style>

                        <div class="custom-btn-wrapper-{{ loop.index }} relative">
                            <a href="{{ link.link }}"
                               class="text-center p-4 mb-4 block js-user-link custom-btn-{{ loop.index }} relative"
                               data-link-id="{{ link.id }}"
                               target="_blank"
                               rel="nofollow"
                               style="border: {{ user.borderSize|default(2) }}px solid transparent;"
                            >
                                <span style="background: {{ color }};
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;
                                        font-size:{{ user.textSize|default(1) }}rem;">
                                    {{ link.name }}
                                </span>

                            </a>
                        </div>

                    {% else %}
                        <a href="{{ link.link }}" class="text-center p-4 mb-4 block js-user-link"
                           data-link-id="{{ link.id }}"
                           target="_blank"
                           rel="nofollow"
                           style="color: {{ color }};
                                   font-size:{{ user.textSize|default(1) }}rem;
                                   border: {{ user.borderSize|default(2) }}px solid {{ color|default('#000') }};
                                   border-radius: {{ user.borderRadius|default(0.25) }}px; background-color:{{ link.backgroundColor }} ">
                            {{ link.name }}
                        </a>
                    {% endif %}


                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('links') }}
{% endblock %}