<header class="flex flex-row-reverse w-full py-4 px-8 gap-4">
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_logout') }}" class="font-bold text-xl p-4 text-slate-600 hover:text-blue-600">
            Logout
        </a>
        <a href="{{ path('app_user_links', {name: app.user.name}) }}"
           class="font-bold text-xl p-4 text-slate-600 hover:text-blue-600">
            Links
        </a>
        <a href="{{ path('app_user_colors', {name: app.user.name}) }}"
           class="font-bold text-xl p-4 text-slate-600 hover:text-blue-600">
            Colors
        </a>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_admin') }}"
               class="font-bold text-xl p-2 md:p-4 text-red-900 hover:text-red-600">
                Admin
            </a>
        {% endif %}

        <a href="{{ path('app_user_edit') }}"
           class="font-bold text-xl p-4 text-slate-600 hover:text-blue-600">Settings</a>

        <div class="group inline-block">
            <button class="outline-none focus:outline-none bg-white flex items-center"
                    style="min-width: 8rem">
                <span class="p-4 font-bold flex-1 text-slate-600 text-xl">Dashboard</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="h-4 w-4 transform group-hover:-rotate-180 transition duration-150 ease-in-out"
                         width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <polyline points="6 9 12 15 18 9"/>
                    </svg>
                </span>
            </button>
            <ul class="bg-white px-3 pb-3 transform scale-0 group-hover:scale-100 absolute transition duration-150 ease-in-out origin-top z-50"
                style="min-width: 8rem">
                <li class="rounded-sm px-4 py-1 hover:bg-slate-100">
                    <a class=" text-slate-600 hover:text-blue-600 text-xl" href="{{ path('app_dashboard') }}">
                        Links
                    </a>
                </li>
                <li class="rounded-sm px-4 py-1 hover:bg-slate-100">
                    <a class=" text-slate-600 hover:text-blue-600 text-xl" href="{{ path('app_color_index') }}">
                        Colors
                    </a>
                </li>
            </ul>
        </div>

    {% endif %}
</header>