<header class="flex flex-row-reverse justify-center md:justify-start w-full py-1 md:py-4 px-2 md:px-8 gap-1 md:gap-4">
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_logout') }}" class="font-bold text-xl p-2 md:p-4 text-slate-600 hover:text-blue-600">
            Logout
        </a>
        <a href="{{ path('app_user_links', {name: user.name}) }}"
           class="font-bold text-xl p-2 md:p-4 text-slate-600 hover:text-blue-600">
            Links
        </a>
        <a href="{{ path('app_dashboard') }}"
           class="font-bold text-xl p-2 md:p-4 text-slate-600 hover:text-blue-600">
            Dashboard
        </a>
    {% else %}
        <a href="{{ path('app_login') }}"
           class="font-bold text-xl  p-2 md:p-4 text-slate-600 hover:text-blue-600">
            Login
        </a>
        <a href="{{ path('app_register') }}"
           class="font-bold text-xl p-2 md:p-4 text-slate-600 hover:text-blue-600">
            Register
        </a>
    {% endif %}
</header>