{% extends 'base.html.twig' %}

{% block metas %}
    <meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block title %}Register!{% endblock %}

{% block header %}
{% endblock %}

{% block body %}

    <div class="relative mx-auto flex w-full items-center justify-center font-sans flex-grow bg-blue-dark-900 px-6 md:px-0">
        <div class="relative sm:max-w-sm w-full">

            <div class="card bg-pink-dark shadow-lg w-full h-full rounded-3xl absolute transform -rotate-6"></div>
            <div class="card bg-red-400 shadow-lg w-full h-full rounded-3xl absolute transform rotate-6"></div>

            <div class="relative w-full rounded-3xl px-6 py-4 bg-blue-dark-700 shadow-md">

                <label for="" class="block mt-3 text-xl text-slate-custom text-center font-semibold">
                    REGISTER!
                </label>

                {{ form_start(registrationForm,{attr: {'class': 'mt-10'}}) }}

                <div class="mt-7">
                    {{ form_row(registrationForm.email,{
                        label_attr: {'class': 'text-slate-custom'},
                        attr: {'class': 'mt-1 block w-full border-none bg-slate-100 h-11 rounded shadow-lg hover:bg-blue-100 focus:bg-blue-100 placeholder:italic focus:ring-0 px-2','placeholder': 'Email'} }) }}
                </div>

                <div class="mt-7">
                    {{ form_row(registrationForm.name,{
                        label_attr: {'class': 'text-slate-custom'},
                        attr: {'class': 'mt-1 block w-full border-none bg-slate-100 h-11 rounded shadow-lg hover:bg-blue-100 focus:bg-blue-100 placeholder:italic focus:ring-0 px-2','placeholder': 'Username'} }) }}
                </div>

                <div class="mt-7">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password',
                        label_attr: {'class': 'text-slate-custom'},
                        attr: {'class': 'mt-1 block w-full border-none bg-slate-100 h-11 rounded shadow-lg hover:bg-blue-100 focus:bg-blue-100 placeholder:italic focus:ring-0 px-2','placeholder': 'Password'}
                    }) }}
                </div>

                {# {{ form_row(registrationForm.agreeTerms) }} #}

                <div class="mt-7">
                    <button type="submit"
                            class="bg-pink-dark w-full py-3 rounded text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105 font-bold">
                        REGISTER
                    </button>
                </div>

                {{ form_rest(registrationForm) }}

                {{ form_end(registrationForm) }}

            </div>
        </div>
    </div>


    <footer class="flex-shrink-0 flex flex-col md:flex-row gap-4 bg-blue-dark-700 p-4 md:p-8 justify-center">
        <div class="text-slate-500 text-center">Already have an account?</div>
        <div class="text-center">
            <a href="{{ path('app_login') }}"
               class="bg-pink-dark w-full p-3 rounded text-white shadow-xl hover:shadow-inner focus:outline-none font-bold">
                Sign in
            </a>
        </div>
    </footer>


{% endblock %}
