{% extends 'base.html.twig' %}

{% block title %}User {{ user.name }} data {% endblock %}

{% block body %}
    <div class="bg-white py-4 md:py-4 px-4 md:px-4 xl:px-4">

        <div class="sm:flex items-center gap-4 text-xl font-bold text-slate-600">

            Links and colors from user {{ user.name }}

        </div>

        <div class="mt-7 overflow-x-auto">
            <table class="table-links text-slate-400 border-separate space-y-6 text-sm w-full">
                <thead class="bg-slate-500 text-slate-300">
                <tr class="bg-slate-300 text-slate-600 uppercase text-xl leading-normal">
                    <th colspan="7">Links</th>
                </tr>
                <tr class="bg-slate-300 text-slate-600 uppercase text-sm leading-normal">
                    <th class="p-3">Name</th>
                    <th class="p-3 text-left">Link</th>
                    <th class="p-3 text-left">Created at</th>
                    <th class="p-3 text-left">Updated at</th>
                    <th class="p-3 text-left">Text color</th>
                </tr>
                </thead>
                <tbody>
                {% for link in links %}
                    <tr class="text-slate-500 hover:bg-gray-100 border-b border-slate-300 {{ loop.index is divisible by 2 ? '' : 'bg-slate-100' }}">
                        <td class="p-3 font-bold text-xl max-w-4xl">{{ link.name }}</td>
                        <td class="p-3">{{ link.link }}</td>
                        <td class="p-3">{{ link.createdAt|ago }}</td>
                        <td class="p-3">{{ link.updatedAt|ago }}</td>
                        <td class="p-3">{{ link.textColor }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <table class="table-links text-slate-400 border-separate space-y-6 text-sm w-full mt-8">
                <thead class="bg-slate-500 text-slate-300">
                <tr class="bg-slate-300 text-slate-600 uppercase text-xl leading-normal">
                    <th colspan="7">Colors</th>
                </tr>
                <tr class="bg-slate-300 text-slate-600 uppercase text-sm leading-normal">
                    <th class="p-3">Name</th>
                    <th class="p-3 text-left">Value</th>
                    <th class="p-3 text-left">Created at</th>
                    <th class="p-3 text-left">Updated at</th>
                    <th class="p-3 text-left">Text</th>
                    <th class="p-3 text-left">Text color</th>
                    <th class="p-3 text-left">Name color</th>
                </tr>
                </thead>
                <tbody>
                {% for color in colors %}
                    <tr class="text-slate-500 hover:bg-gray-100 border-b border-slate-300 {{ loop.index is divisible by 2 ? '' : 'bg-slate-100' }}">
                        <td class="p-3 font-bold text-xl max-w-4xl">{{ color.name }}</td>
                        <td class="p-3">{{ color.value }}</td>
                        <td class="p-3">{{ color.createdAt|ago }}</td>
                        <td class="p-3">{{ color.updatedAt|ago }}</td>
                        <td class="p-3">{{ color.text }}</td>
                        <td class="p-3">{{ color.textColor }}</td>
                        <td class="p-3">{{ color.nameColor }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}