{% extends 'base.html.twig' %}

{% block title %}Links{% endblock %}

{% block body %}
    <h1 class="bg-white py-4 px-4 md:px-8 xl:px-4 text-xl font-bold">Your links</h1>

    <div class="bg-white py-4 md:py-4 px-4 md:px-4 xl:px-4">
        <div class="sm:flex items-center justify-between">
            <a class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4 sm:mt-0 inline-flex items-start justify-start px-6 py-3 bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded"
               href="{{ path('app_link_new') }}">
                <span class="text-sm font-medium leading-none text-white">Create new</span>
            </a>
        </div>

        <div class="mt-7 overflow-x-auto">
            <table class="w-full whitespace-nowrap">
                <thead>
                <tr class="focus:outline-none h-16 border border-gray-100 rounded">
                    <th>Name</th>
                    <th>Link</th>
                    <th>Visits</th>
                    <th>Last visit</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>

                {% for link in links %}
                    <tr class="focus:outline-none h-16 border border-gray-100 rounded">
                        <td>{{ link.name }}</td>
                        <td><a href="{{ link.link }}">{{ link.link }}</a></td>
                        <td>0</td>
                        <td>{{ link.createdAt ? link.createdAt|date('d.m.Y H:i:s') : '' }}</td>
                        <td>
                            <a class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4 sm:mt-0 inline-flex items-start justify-start px-6 py-3 bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded"
                               href="{{ path('app_link_show', {'id': link.id}) }}">
                                <span class="text-sm font-medium leading-none text-white">show</span>
                            </a>
                            <a class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4 sm:mt-0 inline-flex items-start justify-start px-6 py-3 bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded"
                               href="{{ path('app_link_edit', {'id': link.id}) }}">
                                <span class="text-sm font-medium leading-none text-white">edit</span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
