{{ form_start(form) }}

<div class="md:flex flex-wrap flex-row items-end mt-12 gap-4">

    <div class="flex flex-col flex-wrap">
        <div class="color-picker" {{ stimulus_controller('color-picker') }}>

            <span class="flex flex-row">
                {{ form_label(form.value, null, {label_attr: {'class': 'font-semibold leading-none block mb-2' }}) }}

                {{ include('fragments/_color_gradient_icons.html.twig') }}
            </span>

            {{ form_widget(form.value, {
                attr: {
                    'class': 'leading-none text-slate-900 focus:outline-none focus:border-blue-700 mt-4 bg-slate-100 border rounded border-slate-200 w-full h-10 px-2',
                    'data-color-picker-target': 'colorInput'
                }}) }}

            <div data-color-picker-target="picker" class="py-4"></div>
        </div>
    </div>

    <div class="flex flex-col gap-8">

        <div>
            {{ form_label(form.text, null, {label_attr: {'class': 'font-semibold leading-none block px-2' }}) }}

            {{ form_widget(form.text, {attr: {'class': 'leading-none text-slate-900 focus:outline-none focus:border-blue-700 mt-4 bg-slate-100 border rounded border-slate-200 w-full h-10 px-2'}}) }}
        </div>

        <div class="w-full color-picker" {{ stimulus_controller('color-picker') }}>

            <span class="flex flex-row gap-2">
                {{ form_label(form.textColor, null, {label_attr: {'class': 'font-semibold leading-none block mb-2' }}) }}

                {{ include('fragments/_color_gradient_icons.html.twig') }}
            </span>


            {{ form_widget(form.textColor, {
                attr: {
                    'class': 'leading-none text-slate-900 focus:outline-none focus:border-blue-700 mt-4 bg-slate-100 border rounded border-slate-200 w-full h-10 px-2',
                    'data-color-picker-target': 'colorInput'
                }}) }}

            <div data-color-picker-target="picker" class="py-4"></div>
        </div>
    </div>

    <div class="flex flex-col gap-8">
        <div>
            {{ form_label(form.name, null, {label_attr: {'class': 'font-semibold leading-none block px-2' }}) }}

            {{ form_widget(form.name, {attr: {'class': 'leading-none text-slate-900 focus:outline-none focus:border-blue-700 mt-4 bg-slate-100 border rounded border-slate-200 w-full h-10 px-2'}}) }}
        </div>

        <div class="w-full color-picker" {{ stimulus_controller('color-picker') }}>

            <span class="flex flex-row gap-2">
                {{ form_label(form.nameColor, null, {label_attr: {'class': 'font-semibold leading-none block mb-2' }}) }}

                {{ include('fragments/_color_gradient_icons.html.twig') }}
            </span>


            {{ form_widget(form.nameColor, {
                attr: {
                    'class': 'leading-none text-slate-900 focus:outline-none focus:border-blue-700 mt-4 bg-slate-100 border rounded border-slate-200 w-full h-10 px-2',
                    'data-color-picker-target': 'colorInput'
                }}) }}

            <div data-color-picker-target="picker" class="py-4"></div>
        </div>
    </div>
</div>

<div class="flex items-center w-full">

    <button class="btn-main">
        {{ button_label|default('Save') }}
    </button>
</div>
{{ form_end(form) }}
